.App {
  position: absolute;
  top :50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  width :100px;
  cursor: pointer;
  background-color: green;
  border: none;

}
input {
  width :100px;
  border: 1px solid black;
  text-align: center;

}
.content {
  text-align: center;
}